@font-face {
  font-family: "Roboto-Thin";
  src: url("../font/Roboto-Thin.ttf"); }
@font-face {
  font-family: "ShadowsIntoLight";
  src: url("../font/ShadowsIntoLight.ttf"); }
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  font-family: Roboto-Thin, Arial, sans-serif;
  line-height: 1.698;
  color: #4a4a4a;
  background-color: #fafafa;
  margin: 0;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

h4 {
  margin: 0;
  padding: 0; }

.header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  position: fixed;
  width: 100%;
  height: 8vh;
  padding: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 4px 0 #cbcbcb;
  -moz-box-shadow: 0 1px 4px 0 #cbcbcb;
  box-shadow: 0 1px 4px 0 #cbcbcb;
  z-index: 4; }
  .header .menu-logo {
    width: 20%;
    margin-top: 0.4%;
    margin-left: 1%; }
    .header .menu-logo .icon-menu {
      color: #a0a0a0;
      cursor: pointer;
      font-size: 1.2rem; }
    .header .menu-logo .icon-youtube-play {
      color: #ff0000;
      cursor: pointer;
      display: inline-block;
      font-size: 1.5rem;
      margin-left: 1rem; }
      .header .menu-logo .icon-youtube-play span {
        color: #000;
        font-family: sans-serif;
        font-weight: 600;
        font-size: 1.1rem; }
  .header .search-bar {
    width: 55%;
    margin-top: 0.5%;
    margin-right: 10%; }
    .header .search-bar .search-input {
      height: 2.25rem;
      width: 86%;
      font-size: 1rem;
      -webkit-border-radius: 2px 0 0 2px;
      -moz-border-radius: 2px 0 0 2px;
      -ms-border-radius: 2px 0 0 2px;
      border-radius: 2px 0 0 2px;
      padding: 0.37rem;
      -webkit-box-shadow: 0 0 5px 0 #e7dddd;
      -moz-box-shadow: 0 0 5px 0 #e7dddd;
      box-shadow: 0 0 5px 0 #e7dddd;
      border: 1px solid #d3d3d3;
      outline: none; }
      .header .search-bar .search-input:focus {
        border: 1px solid #4b4baa; }
    .header .search-bar .search-btn {
      position: absolute;
      width: 5%;
      height: 36px;
      padding: 0.45rem;
      font-size: 0.99rem;
      opacity: 0.5;
      margin: 0;
      outline: none;
      -webkit-border-radius: 0 2px 2px 0;
      -moz-border-radius: 0 2px 2px 0;
      -ms-border-radius: 0 2px 2px 0;
      border-radius: 0 2px 2px 0;
      border: 1px solid #d3d3d3;
      background-color: #f8f8f8;
      -webkit-box-shadow: 0 0 5px 0 #e7dddd;
      -moz-box-shadow: 0 0 5px 0 #e7dddd;
      box-shadow: 0 0 5px 0 #e7dddd;
      cursor: pointer; }
      .header .search-bar .search-btn:hover {
        background-color: #adadad; }
  .header .home {
    margin-right: 4%;
    margin-top: 0.7%; }
    .header .home i {
      color: #a0a0a0;
      margin-right: 1rem; }

main {
  overflow: auto;
  margin-top: 4%; }
  main .sidebar {
    width: 19%;
    position: absolute;
    background-color: #f5f5f5;
    display: none; }
    main .sidebar .sidebar-list {
      list-style: none;
      padding: 0; }
      main .sidebar .sidebar-list li {
        margin-top: 2%;
        cursor: pointer;
        padding: 2%;
        padding-left: 10%;
        font-size: 1.1rem; }
        main .sidebar .sidebar-list li:hover {
          background-color: #e2e2e2; }
        main .sidebar .sidebar-list li a {
          text-decoration: none; }
          main .sidebar .sidebar-list li a span {
            font-size: 1rem;
            font-weight: bold;
            color: #000;
            margin-left: 0.92rem; }
          main .sidebar .sidebar-list li a i {
            color: #888888; }
    main .sidebar .line {
      width: 100%;
      border: 0.06rem solid #e2e2e2; }
    main .sidebar .yt-best-title {
      text-transform: uppercase;
      margin-left: 10%;
      font-size: 0.92rem;
      color: #888888;
      margin-top: 4%; }
    main .sidebar .yt-best-list {
      list-style: none;
      padding: 0; }
      main .sidebar .yt-best-list li {
        margin-top: 2%;
        cursor: pointer;
        padding: 2%;
        padding-left: 10%; }
        main .sidebar .yt-best-list li:hover {
          background-color: #e2e2e2; }
        main .sidebar .yt-best-list li a {
          text-decoration: none; }
          main .sidebar .yt-best-list li a span {
            font-size: 1rem;
            font-weight: bold;
            color: #000;
            margin-left: 0.92rem; }
        main .sidebar .yt-best-list li img {
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          border-radius: 50%;
          width: 1.4rem; }
  main .hidden {
    display: block; }
  main .result-number {
    border-bottom: 1px solid #e6e6e6;
    margin: 0 auto;
    height: 10vh;
    width: 56.64063vw; }
    main .result-number .number {
      color: #000;
      display: inline-block;
      margin-top: 2.5rem;
      font-weight: bold; }
    main .result-number .icon-align-right {
      float: right;
      display: inline-block;
      margin-top: 2%;
      margin-right: 2%;
      font-size: 1.5rem;
      color: #e6e6e6;
      cursor: pointer; }
  main .container {
    margin: 0 auto;
    width: 60vw;
    padding: 0; }
    main .container .yt-terms {
      margin-bottom: 8%; }
      main .container .yt-terms .yt-api {
        width: 50%;
        float: right; }
      main .container .yt-terms i {
        margin-left: 4%;
        font-size: 2rem;
        cursor: pointer; }
      main .container .yt-terms .icon-twitter {
        color: #55acee; }
      main .container .yt-terms .icon-facebook {
        color: #3b5999; }
      main .container .yt-terms .icon-youtube {
        color: #ff0000;
        margin-left: 18%; }
      main .container .yt-terms .icon-google {
        color: #4885ed; }
      main .container .yt-terms .icon-mail {
        color: #db3236; }
    main .container .video-box {
      overflow: hidden;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      height: 21vh;
      margin: 0.7rem 0; }
      main .container .video-box .image-thumbnail {
        height: 100%;
        width: 15.375rem;
        cursor: pointer;
        background-repeat: no-repeat;
        background-size: 16rem;
        background-position: center; }
        main .container .video-box .image-thumbnail::before {
          content: '';
          height: inherit;
          width: inherit;
          display: inline-block;
          background-color: rgba(207, 222, 222, 0.5); }
        main .container .video-box .image-thumbnail:hover::before {
          content: '';
          height: inherit;
          width: inherit;
          display: inline-block;
          background-image: url("../img/play-large.png");
          background-repeat: no-repeat;
          -webkit-background-size: 6rem;
          -moz-background-size: 6rem;
          -o-background-size: 6rem;
          background-size: 6rem;
          background-position: center;
          background-color: unset; }
      main .container .video-box .describe {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 0 0 0 10px;
        width: 40%;
        min-width: 17.625rem;
        color: #9d9d9d;
        line-height: 1.5rem;
        font-size: small; }
        main .container .video-box .describe .title {
          color: #000;
          font-size: 1.1rem;
          line-height: 1.3rem;
          margin-top: 1%; }
        main .container .video-box .describe .channel {
          font-size: 1.1rem;
          color: #001df8;
          cursor: pointer; }

.embed-window {
  display: none;
  position: fixed;
  top: 24%;
  left: 26%;
  width: 47vw;
  min-width: 350px;
  height: 60vh;
  z-index: 2; }
  .embed-window .close-btn {
    position: absolute;
    z-index: 3;
    cursor: pointer;
    top: -8.4%;
    left: 95.4%;
    color: #e5e5e5;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    width: 5%;
    height: 7%;
    font-size: 0.9rem; }
    .embed-window .close-btn:hover {
      color: #ff0000; }
  .embed-window .embed-iframe {
    position: absolute;
    top: -8%;
    width: 47vw;
    height: 60vh;
    min-width: 350px;
    border: none; }

.background-shadow {
  border: 1px solid;
  height: 100vh;
  width: 100%;
  z-index: 2;
  position: absolute;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.7); }

footer {
  width: 100%;
  height: 10vh;
  padding: 1rem;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px 0 #c6baba;
  -moz-box-shadow: 0 0 5px 0 #c6baba;
  box-shadow: 0 0 5px 0 #c6baba;
  z-index: 4; }
  footer span {
    margin-left: 2%;
    font-size: 1rem;
    font-family: "ShadowsIntoLight"; }
  footer i {
    font-size: 1.1rem;
    float: right;
    margin-top: 1%;
    margin-right: 0.4rem;
    cursor: pointer; }
  footer .icon-twitter-1 {
    margin-right: 2%; }
    footer .icon-twitter-1:hover {
      color: #55acee; }
  footer .icon-mail:hover {
    color: #db3236; }
  footer .icon-google:hover {
    color: #4885ed; }
  footer .icon-youtube:hover {
    color: #ff0000; }
  footer .icon-facebook-squared:hover {
    color: #3b5999; }
  footer .icon-github:hover {
    color: #000; }
  footer .previous-btn {
    margin-left: 9%; }
  footer .next-btn {
    margin-left: 0; }
  footer .next-btn,
  footer .previous-btn {
    display: inline-block;
    width: 20vw; }
    footer .next-btn .Next,
    footer .next-btn .Prev,
    footer .previous-btn .Next,
    footer .previous-btn .Prev {
      color: #fff;
      font-size: 1.2rem;
      -webkit-box-shadow: 0 0 5px 0 #282222;
      -moz-box-shadow: 0 0 5px 0 #282222;
      box-shadow: 0 0 5px 0 #282222;
      cursor: pointer;
      border-radius: 5px;
      font-family: "ShadowsIntoLight";
      background-color: slategrey;
      text-align: center; }
    footer .next-btn .Next span,
    footer .previous-btn .Next span {
      margin: 0;
      float: left; }
    footer .next-btn .Next i,
    footer .previous-btn .Next i {
      float: right;
      margin: 0 0 0 4px; }
    footer .next-btn .Prev,
    footer .previous-btn .Prev {
      margin-left: 10%; }
      footer .next-btn .Prev span,
      footer .previous-btn .Prev span {
        margin: 0;
        float: right; }
      footer .next-btn .Prev i,
      footer .previous-btn .Prev i {
        float: left; }

@media (max-width: 862px) {
  .header .menu-logo {
    width: 20%; }
    .header .menu-logo .icon-youtube-play {
      font-size: 1.5rem;
      margin-left: 1px; }
      .header .menu-logo .icon-youtube-play span {
        font-weight: 600;
        font-size: 0.8rem; }
  .header .search-bar {
    width: 55%; }
    .header .search-bar .search-input {
      width: 86%;
      font-size: 1rem;
      padding: 0.37rem;
      margin: 0; }
    .header .search-bar .search-btn {
      width: 7%;
      height: 36px;
      padding: 0.45rem;
      font-size: 0.99rem; }
  .header .home {
    margin-right: 1%;
    font-size: 0.9rem; }
    .header .home i {
      margin-right: 0.2rem; }

  .embed-window {
    left: 8%;
    width: 84vw;
    height: 40vh; }
    .embed-window .embed-iframe {
      top: -8%;
      width: 84vw;
      height: 40vh; } }
@media (max-width: 638px) {
  .header .menu-logo {
    width: 15%;
    margin-left: 0; }
    .header .menu-logo .icon-menu {
      font-size: 0.95rem; }
    .header .menu-logo .icon-youtube-play {
      font-size: 0.95rem;
      margin-left: 0; }
      .header .menu-logo .icon-youtube-play span {
        font-weight: 600;
        font-size: 0.6rem; }
  .header .search-bar {
    width: 60%; }
    .header .search-bar .search-input {
      width: 83%;
      font-size: 1rem;
      padding: 0.37rem;
      margin: 0; }
    .header .search-bar .search-btn {
      width: 8%;
      padding: 0.45rem;
      font-size: 0.99rem; }
  .header .home {
    margin: 0;
    font-size: 0.9rem; }
    .header .home i {
      margin-right: 0.2rem; }

  main .sidebar {
    width: 37%; } }

/*# sourceMappingURL=style.css.map */
